@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
    box-sizing: border-box;
}

input {
    @apply border border-gray-500 px-1;
}

.tab {
    @apply w-full rounded-lg py-2.5 text-sm font-medium leading-5 ring-opacity-60 ring-offset-2 ring-offset-blue-400 focus:outline-none disabled:text-gray-500 disabled:cursor-not-allowed
}

.tab .selected {
    @apply ring-opacity-100 ring-2 ring-[#ADC9FB] rounded-full
}
